<!DOCTYPE HTML>

<html>
	<head>
		<title>Appointment</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% load static %}
		<link rel="stylesheet" href={% static "assets/css/main.css" %}/>
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo">Herald Hospital Nepal</div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
        <nav id="menu">
			<ul class="links">
				<li><a href="/hospital/">Home</a></li>
				<li><a href='/hospital/patient/'>Add Patient Detail</a></li>
				<li><a href="/hospital/patientdata/">view Patient list</a></li>
				<li><a href='/hospital/doctor/'>Add Doctor Detail</a></li>	
				<li><a href="/hospital/doctordata/">view doctor list</a></li>
				<li><a href='/hospital/appointment/'>Appointment</a></li>
				<li><a href="/hospital/appointmentdata/">appointment details</a></li>
				<li><a href="/hospital/bill/">Generate Bill</a></li>
				<li><a href="/hospital/billdata/">Bill data</a></li>					
				<li><a href="/hospital/login/">login</a></li>
				<li><a href="/hospital/signup/">Signup</a></li>
				<li><a href="/hospital/logout/">logout</a></li>
				<li><a href="/hospital/uploadimage/">upload Image</a></li>
			</ul>
		</nav>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Herald Hospital Nepal</p>
						<h2>Add Patient</h2>
					</header>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center">
								<p>Best hospital in Nepal</p>
								<h2>Add Patient </h2>
							</header>
							<form method="post" action="save">
                                {% csrf_token %}
								<div class="6u 12u$(xsmall)">
                                    <input type="text" name="patientID" id="name" value="" placeholder="patient id" />
								</div>
								<div class="6u 12u$(xsmall)">
                                    <input type="text" name="patientName" id="name" value="" placeholder="patient name" />
								</div>
								<div class="6u 12u$(xsmall)">
                                    <input type="text" name="sec" id="name" value="" placeholder="Gender" />
                                </div>
                                <div class="6u 12u$(xsmall)">
                                    <input type="text" name="patientPrescribeMedicine" id="name" value="" placeholder="Prescribe Medicine" />
                                </div>
                                <div class="6u$ 12u$(xsmall)">
                                    <input type="text" name="patientPrescribeTreatment" id="name" value="" placeholder="Prescribe Treatment" />
								</div>
                                <!-- Break -->
                                <div class="12u$">
                                    <textarea name="patientReport" id="message" placeholder="Report from treatement" rows="6"></textarea>
                                </div>
                                <!-- Break -->
                                <div class="12u$">
                                    <ul class="actions">
                                        <li><input type="submit" value="SEND" /></li>
                                        <li><input type="reset" value="Reset" class="alt" /></li>
                                    </ul>
                                </div>
                            </div>
						
								</form>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
						<ul class="icons">
						<li><a href="twitter.com" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="facebook.com" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="instagram.com" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li></br>
						<hr>
						<h5>Office - Kathmandu - 1st Floor</h5>
						<h5>Phone - +977-1-4134212</h5>
						<h5>Email - support@heraldhospitalnepal.com.np </h5>
				</div>
					<div class="copyright">
					&copy; Herald Hospital Nepal. All rights reserved.
				</div>				
			</footer>

		 <!-- Scripts -->
		 {% load static %}
		 <script src={% static "assets/js/jquery.min.js" %}></script>
		 {% load static %}
		 <script src={% static "assets/js/jquery.scrollex.min.js" %}></script>
		 {% load static %}
		 <script src={% static "assets/js/skel.min.js" %}></script>
		 {% load static %}
		 <script src={% static "assets/js/util.js" %}></script>
		 {% load static %}
		 <script src={% static "assets/js/main.js" %}></script>

	</body>
</html>
     



<form action="save" method="post">
    {% csrf_token %}
    Enter patientID:  <input type="text" name="patientID"><br>
    Enter patientName:           <input type="text" name="patientName"><br>
    Enter Sex:            <input type="text" name="patientSex"><br>
    Enter Report: <input type="text" name="patientReport"><br>
    Enter PrescribeMedicine: <input type="text" name="patientPrescribeMedicine"><br>
    Enter prescribeTreatment: <input type="text" name="patientPrescribeTreatment"><br>
    <input type="submit" >
</form>
</center>

    
</body>
</html>
